# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
*.log

# Environment variables
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Test
coverage
.nyc_output

# Documentation
docs
*.md 